<ul class="menu-bar-wrap">
  <li class="first-li"><a href="#">TIMEBITE</a>
    <ul class="first-ul">
      <li class="second-li"><a href="#">お知らせ ></a>
        <ul class="second-ul">
          <li>2018/12</li>
          <li>2019/01</li>
          <li>2019/02</li>
        </ul>
      </li>
      <li><a href="#">メンバー紹介 ></a>
        <ul class="second-ul">
          <li>1~10日</li>
          <li>11~20日</li>
          <li>21~30日</li>
        </ul>
      </li>
      <li><a href="#">お問い合わせ ></a>
        <ul class="second-ul">
          <li>午前</li>
          <li>午後</li>
          <li>深夜</li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">Instagram</a>
    <ul>
      <li><a href="#">活動記録 ></a>
        <ul class="second-ul">
          <li>2018/12</li>
          <li>2019/01</li>
          <li>2019/02</li>
        </ul>
      </li>
      <li><a href="#">アカウントへ ></a>
        <ul class="second-ul">
          <li>そっすぃ</li>
          <li>っぴー</li>
          <li>誰かさん</li>
        </ul>
      </li>
      <li><a href="#">友達申請 ></a>
        <ul class="second-ul">
          <li>１〜１０にん</li>
          <li>１０〜１００にん</li>
          <li>１００〜１０００にん</li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">Twitter</a>
    <ul>
      <li><a href="#">営業報告</a></li>
      <li><a href="#">営業利益</a></li>
      <li><a href="#">下半期決算</a></li>
    </ul>
  </li>
</ul>
